.boton-carrito {
    margin-top: 2rem;
}

.carrito-vacio,
.carrito-comprado {
    color: $primary-color;
}

.carrito-productos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.carrito-producto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primary-color;
    color: $theme-color;
    padding: .5rem;
    padding-right: 1rem;
    border-radius: 1rem;
}

.carrito-producto-imagen {
    width: 5rem;
    border-radius: .5rem;
}

.carrito-producto small {
    font-size: .75rem;
}

.carrito-producto-eliminar {
    border: 0;
    background-color: transparent;
    color: $carrito-eliminar;
    cursor: pointer;
}

.carrito-acciones {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.carrito-acciones-vaciar {
    border: 0;
    background-color: $primary-color;
    padding: 1rem;
    border-radius: 1rem;
    color: $theme-color;
    text-transform: uppercase;
    cursor: pointer;
}

.carrito-acciones-derecha {
    display: flex;
}

.carrito-acciones-total {
    width: 12rem;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: $primary-color;
    padding: 1rem;
    color: $theme-color;
    text-transform: uppercase;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    gap: 1rem;
}

.carrito-acciones-comprar {
    border: 0;
    background-color: $switch-primary-color;
    padding: 1rem;
    color: $switch-text-color;
    text-transform: uppercase;
    cursor: pointer;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.carrito-producto-titulo {
    max-width: 15rem;
}