.tituloGeneral{
    margin: 0 auto;
    text-align:  center;
    h1{
        font-size: 25px;
        color: $text-color;
        margin: 15px;
        body.dark & {
            color: $text-color-inverse;
        }
    }
}

.productos{
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    .imagenProductos{
        padding: 15px;
        img{
            height: 300px;
            width: 500px;
        }
    }
    .textoProductos{
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 30px;
        justify-content: center;
        text-align: center;
        body.dark & {
            color: $text-color-inverse;
        }
        .textoProductosParrafo{
            display: flex;
            flex-direction: row;
            text-align: justify;
        }
    }
}

.producto-imagen {
    max-width: 100%;
    border-radius: 1rem;
}

.btnCompra {
    background-color: $primary-color;
            color: $text-color-inverse;
            border: none;
            font-size: 20px;
            padding: 0.5em 1em;
            border-radius: 8px;
            cursor: pointer;
            &:hover{
                filter: brightness(150%);
            }
}


.numerito {
    background-color: $secondary-color;
    color: $primary-color;
    padding: .15rem .25rem;
    border-radius: .25rem;
}

.close-menu {
    display: none;
}

.disabled {
    display: none;
}

.buscador{
    padding: 10px;
    margin: 20px;
}